<div class="toggles">
    <div class="input-group">
        <label>Drag scope:</label>
        {{input type="text" value=dragScope}}

        <label>Drop scope:</label>
        {{input type="text" value=dropScope}}
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=useSwap}}
        <label>Swapping sort</label>
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=enableDragHandle}}
        <label>Drag only by gray bar</label>
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=resetAfterDropOutside}}
        <label>Reset after drop outside</label>
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=resetAfterDragCancel}}
        <label>Reset after cancel</label>
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=enableAnimation}}
        <label>Animations. Speed: </label>
        {{input type="text" value=animationDurationInput}}
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=enableTouch}}
        <label>Touch enabled</label>
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=enableKeyboard}}
        <label>Keyboard enabled</label>
    </div>

    <div class="input-group">
        {{input type="text" value=newItemText}}
        <button {{action "createItemFirst"}}>Create first</button>
        <button {{action "createItemLast"}}>Create last</button>
    </div>
</div>

<div class="{{containerClass}}">
    {{#component componentName items
                               sortProperty="key"
                               resetAfterDropOutside=resetAfterDropOutside
                               resetAfterDragCancel=resetAfterDragCancel
                               parentSelector=containerSelector
                               enableAnimation=enableAnimation
                               animationDuration=animationDuration
                               enableTouch=enableTouch
                               enableKeyboard=enableKeyboard
                               as |dnd|}}
        {{#dnd.cmp class="draggable"
                   dragHandleSelector=itemDragHandleSelector
                   enableDragging=dnd.item.dnd.enableDragging
                   enableDropping=dnd.item.dnd.enableDropping
                   dragScope=dragScope
                   dropScope=dropScope}}
            {{examples/drag-tile title=dnd.item.title
                                 enableDragging=dnd.item.dnd.enableDragging
                                 enableDropping=dnd.item.dnd.enableDropping
                                 dragScope=dragScope
                                 dropScope=dropScope}}
        {{/dnd.cmp}}
    {{/component}}
</div>

{{!TODO(kapil) add an area to display the events}}

<div class="data-display">
    {{#each items as |item|}}
        <span>{{item.key}}</span>
    {{/each}}
</div>