<h1>Insertion Set</h1>
<div class="toggles">
    <div class="input-group">
        {{input type="checkbox" checked=enableSorting}}
        <label>Enable sort</label>
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=resetAfterDropOutside}}
        <label>Reset after drop outside</label>
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=resetAfterDragCancel}}
        <label>Reset after cancel</label>
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=enableAnimation}}
        <label>Animations</label>
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=enableTouch}}
        <label>Touch enabled</label>
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=enableKeyboard}}
        <label>Keyboard enabled</label>
    </div>

    <div class="input-group">
        {{input type="checkbox" checked=enableTouch}}
        <label>Touch enabled</label>
    </div>

    <div class="input-group">
        {{input type="text" value=animationDuration}}
        <label>Animation speed ('fast', 'slow' or millis)</label>
    </div>
</div>
<div class="insertion-list-container">
    {{#drag-drop/insertion-set items
                               enableSorting=enableSorting
                               resetAfterDropOutside=resetAfterDropOutside
                               resetAfterDragCancel=resetAfterDragCancel
                               sortProperty="key"
                               parentSelector=".insertion-list-container"
                               itemDragHandleSelector=".title"
                               itemClass="draggable"
                               enableAnimation=enableAnimation
                               animationDuration=animationDuration
                               enableTouch=enableTouch
                               enableKeyboard=enableKeyboard
                               as |item|}}
        {{drag-tile title=item.text
                    body=item.subtext}}
    {{/drag-drop/insertion-set}}
</div>

<h2>View Data</h2>
<div>
    {{#each items as |item|}}
        <span>{{item.key}}</span>
    {{/each}}
</div>